body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  margin: auto;
  width: 80%;
  max-width: 800px;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-wrap: wrap;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #333;
  flex-grow: 1;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  flex-basis: 100px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #4caf50;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: all 0.2s ease-in-out;
}

li:last-child {
  border-bottom: none;
}

li button {
  padding: 8px;
  font-size: 16px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  transition: all 0.2s ease-in-out;
}

li button:hover {
  background-color: #c0392b;
}
